# Copy this file to app.env and fill in the values
POSTGRES_DB=testdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=S@lam123

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/testdb
SPRING_DATASOURCE_USERNAME=appuser
SPRING_DATASOURCE_PASSWORD=S@lam123
SPRING_FLYWAY_LOCATIONS=classpath:migration

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

SERVER_TOMCAT_MAX_CONNECTIONS=20000
SERVER_TOMCAT_ACCEPT_COUNT=2000
SERVER_CONNECTION_TIMEOUT=60000

SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=16
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000
SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT=600000