# Copy this file to app.env and fill in the values
POSTGRES_DB=testdb
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/testdb
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_FLYWAY_LOCATIONS=classpath:migration

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

SPRING_SERVER_TOMCAT_MAX_THREADS=200
SPRING_SERVER_TOMCAT_ACCEPT_COUNT=1000
SPRING_SERVER_CONNECTION_TIMEOUT=2000